@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* 룩 카드 active 효과 */
.card-active {
  background-color: #f3f4f6;
}

/* 전역 스크롤바 숨김 */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}